# Backend API base URL (local) (Vue CLI uses VUE_APP_ prefix)
# VUE_APP_API_URL=http://localhost:3000

# Backend API base URL (Railway)
VUE_APP_API_URL=https://ci0137-plantastic-production.up.railway.app